<!-- src/views/realTimeProducts.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <title>Real Time Products</title>
</head>
<body>
<<<<<<< HEAD
  <h1>Productos en tiempo real</h1>
  <ul>
=======
  <h1>Lista de productos de limpieza en tiempo real</h1>
  <ul id="productList">
>>>>>>> 65e94491e06e2214180c8b49c15cb29fd3fb05db
    {{#each products}}
    <li>{{this.name}} - ${{this.price}}</li>
    {{/each}}
  </ul>
  <form action="/products" method="POST">
    <input type="text" name="name" placeholder="Nombre del producto" required>
    <input type="number" name="price" placeholder="Precio" required>
    <button type="submit">Agregar producto</button>
  </form>
</body>
</html>
