<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Bienvenido a la p치gina principal</h1>
  {{#if user}}
  <p>Hola, {{user.first_name}} {{user.last_name}} ({{user.email}})</p>
  <a href="/auth/logout">Cerrar sesi칩n</a>
  {{else}}
  <p>Inicia sesi칩n para ver tus datos</p>
  <a href="/auth/login">Iniciar sesi칩n</a>
  {{/if}}
</body>
</html>
